[Unit]
Description=Mosquitto - MQTT broker

[Service]
ExecStart=@SBINDIR@/mosquitto -c @SYSCONFDIR@/mosquitto/mosquitto.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
